.about-us {
  line-height: 0;
}
.about-us .row-1 .col-b {
  padding: 0 15px;
}
.about-us .row-1 .col-b .content h2 {
  font-size: 26px;
  line-height: 34px;
}
.about-us .row-1 .col-b .content h2 span {
  font-size: 15px;
  color: #040382;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about-us .row-1 .col-b .content p {
  line-height: 26px;
  text-align: justify;
  color: #666666;
}
.about-us .row-1 .col-b .content .points {
  margin-top: 22px;
}
.about-us .row-1 .col-b .content .point {
  color: #666666;
  line-height: 26px;
}
.about-us .row-1 .col-b .content .point:not(:last-child) {
  padding-bottom: 22px;
}
.about-us .row-1 .col-b .content .point span {
  display: block;
}
.about-us .row-1 .col-b .content ul {
  margin: 16px 0;
  line-height: 30px;
  color: #d80028;
  font-size: 17px;
  padding-left: 30px;
}
.about-us .row-1 .col-b .content ul li {
  position: relative;
}
.about-us .row-1 .col-b .content ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -30px;
  width: 17px;
  height: 17px;
  background: url("./images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.about-banner {
  text-align: center;
  padding: 40px 0;
  background-color: var(--black);
}
.about-banner .row-1 {
  padding: 0 15px;
}
.about-banner .row-1 .col h1 {
  color: #f8f9fa;
  text-align: center;
  line-height: 60px;
}
.about-banner .row-1 .col p {
  color: #f8f9fa;
  line-height: 26px;
  padding-bottom: 22px;
}
.about-banner .row-1 .col .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-banner .row-1 .col .buttons a {
  text-transform: uppercase;
  color: var(--white);
  padding: 13px 31px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}
.enquiry .row-1 .col {
  padding: 0 15px;
}

.enquiry .row-1 .col .card {
  padding: 25px 15px;
  margin: 20px 0;
}
.enquiry .row-1 .col .card .card-heading h1 {
  font-size: 32px;
  line-height: 60px;
}
.enquiry .row-1 .col .card .card-details p{
  color: #343a40;
  line-height: 26px;
}
.enquiry .row-1 .col .card .card-button a {
    display: flex;
    box-shadow: 0 4px 12px rgba(255, 138, 0,0.15);
    background-color: var(--main-color);
    padding: 10px 20px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    border-radius: 4px;
    

}
.enquiry .row-1 .col .card .card-button a svg {
    position: relative;
    top: 5px;
    margin-left: 5px;
}

@media all and (min-width: 768px) {
  .enquiry .row-1 .col .card {
    padding: 25px;
  }
}
@media all and (min-width: 981px) {
  .about-us .row-1 .col-b .content h2,
  .about-banner .row-1 .col h1,
  .enquiry .row-1 .col .card .card-heading h1 {
    line-height: 1.2;
  }
  .enquiry .row-1 .col .card {
    padding: 25px 90px;
    margin: 0 0 20px;
  }
}
