.changepassword {
    margin-bottom: 30px;
    background-color: var(--white);
    box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
  }
  .changepassword .row-1 .col {
    padding: 0;
  }
  .changepassword .row-1 .col .form_details .row-2 .col {
    padding: 0 15px;
  }
  