.dashboard_main {
  padding: 60px 0;
}
.dashboard_main .row-1 {
  max-width: 1140px;
}
.dashboard_main .row-1 .col {
  padding: 0 15px;
}

@media all and (min-width: 2000px) {
  .dashboard_main .row-1 {
    max-width: 80%;
  }
}
