.job-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #f8fafc;
  box-shadow: 0px 0px 40px 0px rgb(132 144 255 / 20%);
}

.job-card .card-image {
  max-width: 70px;
  margin: auto auto 15px;
}

.job-card .card-image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #000080;
}
.job-card .card-details {
  width: 100%;
  margin-left: 10px;
}

.job-card .card-details h4 {
  font-size: 16px;
  font-weight: 700;
}

.job-card .card-details .job-posting-footer ul {
  list-style: none;
}

.job-card .card-details .job-posting-footer ul li {
  display: inline-block;
  color: #777;
  margin: 5px 15px 5px 0;
}

.job-card .card-details .job-posting-footer ul li svg {
  position: relative;
  top: 2px;
  margin-right: 3px;
  fill: #000080;
}

.job-card .card-buttons ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.job-card .card-buttons ul li {
  color: #fff;
  margin-bottom: 20px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card .card-buttons ul li svg {
  position: relative;
  top: 1px;
  fill: white;
}

.job-card .card-buttons ul li a {
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 8px 18px;
  background: #000080;
  border-radius: 43px;
  overflow: hidden;
  font-size: 13px;
}

@media all and (min-width: 576px) {
  .job-card {
    flex-direction: row;
  }
  .job-card .card-image {
    margin: 0 15px 0 0;
  }
}
