.page6-component .page6-searchjob {
  display: flex;
  gap: 20px;
  /* padding: 32px 20px 22px 30px; */
  padding: 10px;
  /* background: #fff; */
  border: none;
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.page6-component .upper-section {
  display: flex;
  justify-content: space-between;
  /* gap: 310px; */
}
.page6-component .header-btn-button {
  background-color: #1e1bbc;
  display: inline-block;
  margin: 0;
  /* border: none; */
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  font-weight: 700;
  font-size: 13px;

  white-space: nowrap;
}
/* .bookmark {
  position: absolute;
  right: -200px;
  z-index: 50;
  top: 10px;
  height: 20px;
  width: 30px;
  /* line-height: 35px; */
/* text-align: center; */
/* font-size: 14px; */
/* border-radius: 50%; */
/* cursor: pointer; */
/* background: #fff; */
/* transition: all 0.3s ease; */
/* } */

.page6-component .right h1 {
  color: #202124;
  transition: all 0.3s ease;
  font-weight: 600;
  /* min-width: 300px; */
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.page6-component ul {
  display: flex;
  gap: 15px;
}
.page6-component ul li {
  padding: 0;
}
.page6-component .list {
  display: flex;
  gap: 5px;
  white-space: nowrap;
}
/* .text,
.icon {
  font-size: 13px;
  line-height: 22px;
  color: dimgray;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 20px;
} */
/* .icon {
  font-size: 13px;
  margin-top: 2px;
} */

/* .home-box {
  position: relative;
  display: inline-block;
  cursor: pointer;

  font-size: 15px;
  line-height: 15px;
  margin-right: 15px;
  padding: 10px 25px;
  border-radius: 50px;
  margin-bottom: 10px;
  font-weight: 600;
} */
.fir {
  background: rgba(25, 103, 210, 0.15);
  color: blue;
}

.sec {
  background: yellow;

  color: rgb(245, 123, 8);
}
.thir {
  background: rgb(54, 230, 54);
  color: darkgreen;
}



/* //////////////////////////////////////////home left------------------------------------- */

/* //////////////////////////////////////////home left------------------------------------- */

.select-block {
  display: flex;
  gap: 30px;

  flex-direction: column;
}

.page6 .home-right {
  background-color: white;
  /* padding: 0 30px; */
}
.page6-comp {
  /* width: 600px; */
  padding-bottom: 20px;
  background: white;
  /* border-radius: 20px; */
}

/* //////////////////////////////////////////home right------------------------------------- */

.page6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.page6 h5 {
  margin: 30px 0 ;
  color: black;
  font-size: 2.5vw;
  letter-spacing: 2px;
  padding: 20px 0;
  font-weight: 500;
}

.page6 p {
  margin: 0;
  padding: 0 25px;
  font-size: 15px;
  color: #666666;
  text-align: center;
}
.page6-comp {
  display: flex;
background:#D6ECF4;
background-attachment: fixed;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

@media (max-width: 500px) {
  /* .page6-component ul {
    display: in;
  } */
  /* .page6-searchjob{
    width: 350px;
  } */
}
@media (max-width: 800px) {
  .page6 h5 {
    font-size: 1.7rem;
    margin: 0;
  }
}

.home-right-page6 {
  width: 100%;
}

.page6-component .page6-searchjob .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page6-component .page6-searchjob {
  min-height: 170px;
  
}

.page6-searchjob {
  display: flex;
  gap: 20px;
  padding: 32px 20px 22px 30px;
  /* background: #fff; */
  border: 1px solid #ecedf2;
  background-color: #ccd6ef;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
.page6-comp .page6-searchjob .left {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page6-comp .page6-searchjob .upper-section {
  display: flex;
  justify-content: space-between;
  /* gap: 310px; */
}

.page6-comp .page6-searchjob .header-btn-button {
  background-color: #1e1bbc;
  display: inline-block;
  margin: 0;
  /* border: none; */
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  font-weight: 700;
  font-size: 13px;

  white-space: nowrap;
}
.bookmark {
  position: absolute;
  right: -200px;
  z-index: 50;
  top: 10px;
  height: 20px;
  width: 30px;
  /* line-height: 35px; */
  text-align: center;
  /* font-size: 14px; */
  /* border-radius: 50%; */
  cursor: pointer;
  /* background: #fff; */
  transition: all 0.3s ease;
}

.right h1 {
  color: #202124;
  transition: all 0.3s ease;
  font-weight: 600;
  /* min-width:  400px; */
  font-size: 20px;
}

ul {
  display: flex;
  gap: 15px;
}
.list {
  display: block;
  gap: 5px;
}
.text,
.icon {
  font-size: 15px;
  /* line-height: 22px; */
  color: dimgray;
  font-weight: 400;
  margin-bottom: 5px;
  /* margin-right: 20px; */
}
.icon {
  font-size: 17px;
}

.home-box {
  /* position: relative; */
  display: inline-block;

  font-size: 15px;
  line-height: 15px;
  margin-right: 15px;
  padding: 10px 25px;
  border-radius: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
}
.fir {
  background: rgba(25, 103, 210, 0.15);
  color: blue;
}

.sec {
  background: yellow;

  color: rgb(245, 123, 8);
}
.thir {
  background: rgb(54, 230, 54);
  color: darkgreen;
}

.right ul {
  margin: 8px 0;
}

@media (max-width: 600px) {
  .left {
    width: 20%;
  }
  .page6-component {
    /* padding: 10px; */
  }
.page6-component .page6-searchjob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  10px 0;
    gap: 0px;
    min-width: 360px;
  }
  .page6-component .page6-searchjob .right ul li .icon , .text{
    font-size: 12px;
  }
  .page6-component .page6-searchjob .right ul{
    gap: 5px;
  }
  .page6-component .page6-searchjob .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }

  .right h1 {
    text-align: center;
  }
  .upper-section {
    /* justify-content: space-around; */
    gap: 50px;
    align-items: center;
  }
  .text {
    font-size: 12px;
  }
  .home-box {
    padding: 10px 14px;
    font-size: 13px;
  }
}
